<div class="container py-4">

  <!-- Header -->
  <h1 class="text-dark my-2">

    <!-- Title -->
    <span>Latest decks</span>

    <!-- By user -->
    <span ng-if="params.username">
      by <a ui-sref="app.user({username: params.username})" class="text-primary">{{ params.username }}</a>
    </span>
  </h1>

  <hr>

  <!-- Decks -->
  <div class="row" vertilize-container>
    <div class="col-lg-4 col-md-6" ng-repeat="deck in decks | reverse">
      <div class="card bg-dark text-white my-3">

        <!-- Header -->
        <div class="card-header py-3">

          <!-- AEC -->
          <span class="o-fade-soft"><i class="fas fa-tint"></i> {{ deck.getAvgElixir() || 0 }}</span>

          <!-- Name (link) -->
          <a href="#" class="text-white on-dark">{{ deck.name }}</a>

          <!-- Options -->
          <button class="btn btn-warning btn-sm float-right" style="margin: -4px">
            <i class="fas fa-chevron-down"></i>
          </button>
        </div>

        <!-- Cards -->
        <div class="card-body bg-pattern vertilize p-2">
          <div class="inline-cards">
            <card class="inline-cards-item auto init no-name no-cost no-cover-hover"
              ng-repeat="card in deck.cards"
              ng-include="'components/card/card_include.html'"
              ng-click="card.view()">
            </card>
          </div>
        </div>

        <!-- Footer -->
        <div class="card-footer">

          <!-- Type -->
          <span ng-if="deck.type > 0">{{ deck.getType() }} deck &bull;</span>

          <!-- User -->
          <a ui-sref="app.user({username: deck.user })" class="text-info">
            By {{ deck.user }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
