<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" ui-sref="app.home">Donate Clan <small>{{ version }}</small></a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" ng-href="http://github.com/AmirSavand/royale-clan" target="_blank">
            <i class="fa fa-fw hidden-xs fa-github"></i>
            <span class="visible-xs t-bold">GitHub</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="mailto:amir@savandbros.com?Subject=Donate - Clan Website (Feedback)" target="_blank">
            <i class="fa fa-fw hidden-xs paper-plane"></i>
            <span class="visible-xs t-bold">Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<toaster-container
  toaster-options="{'position-class': 'toast-bottom-left'}">
</toaster-container>
