/* Global */

body {
    font-family: "Righteous", sans-serif;
    background: whitesmoke;
}

a,
button,
[ui-sref],
[ng-click] {
    cursor: pointer;
}


/* Button */

.btn-block {
    font-weight: bold;
    letter-spacing: 0.5px;
}


/* Cover */

.cover {
    padding: 60px 0;
    color: #fff;
    background: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cover p {
    color: #eee;
}

.cover-bg {
    padding: 100px 0;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}

.cover-bg:not(.cover-bg-pattern) {
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.75);
}


}
