/* Global */

body {
    font-family: "Righteous", sans-serif;
    background: whitesmoke;
}

a,
button,
[ui-sref],
[ng-click] {
    cursor: pointer;
}


/* Button */

.btn-block {
    font-weight: bold;
    letter-spacing: 0.5px;
}


}
