<p>
  Welcome to Donate clan <small class="o-fade">Website v{{ version }}</small><br>
  We're looking for real players who <i class="fas fa-plus"></i> donate,
  <i class="fas fa-star"></i> collect crowns and are <i class="fas fa-rocket"></i> active.
</p>
<p>
  You can be on the <i class="fas fa-globe"></i> Website and or join our
  <i class="fab fa-whatsapp"></i> WhatsApp group.<br>
  On the website, you can <i class="fas fa-cube"></i> build, <i class="fas fa-save"></i>
  save and <i class="fas fa-share-alt"></i> share your decks or
  <i class="fas fa-search"></i> explore other player's decks!<br>
  Your <i class="fas fa-user"></i> membership and your <i class="fas fa-trophy"></i> achievements
  will be displayed here and managed by admins.
</p>
