<p>
  Welcome to Donate clan <small class="o-fade">Website v{{ version }}</small><br>
  We're looking for real players who <i class="fa fa-plus"></i> donate,
  <i class="fa fa-star-half-o"></i> collect crowns and are <i class="fa fa-rocket"></i> active.
</p>
<p>
  You can be on the <i class="fa fa-globe"></i> Website and or join our
  <i class="fa fa-whatsapp"></i> WhatsApp group.<br>
  On the website, you can <i class="fa fa-cube"></i> build, <i class="fa fa-save"></i>
  save and <i class="fa fa-share-alt"></i> share your decks or
  <i class="fa fa-search"></i> explore other player's decks!<br>
  Your <i class="fa fa-user"></i> membership and your <i class="fa fa-trophy"></i> achievements
  will be displayed here and managed by admins.
</p>
