<div class="container-fluid cover cover-bg bg-arena">
  <div class="container">
    <h1>Royale Clan <small class="o-fade">v{{ version }}</small></h1>
    <br>
    <ng-include src="'components/home/description.html'"></ng-include>
  </div>
</div>

<div class="container py-4">
  <div class="row">

    <!-- Left side -->
    <div class="col-md-6">

      <!-- Users -->
      <div class="card mb-3">
        <div class="card-header bg-dark text-white s-pad-soft">
          Users <i class="fas fa-fw text-secondary float-right fa-users"></i>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item"
            ui-sref="app.user({username: user.username, user: user})"
            ng-repeat="user in users">
            {{ user.username }}
          </a>
        </div>
        <!-- Loading -->
        <div class="card-body text-center py-5" ng-if="!users">
          <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
        </div>
      </div>

      <!-- Clan members -->
      <div class="card">
        <div class="card-header bg-dark text-white s-pad-soft">
          Clan Members <i class="fas fa-fw text-secondary float-right fa-chess"></i>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item"
            ui-sref="app.member({ tag: member.get.tag, member: member })"
            ng-if="member.get.role != 'member'"
            ng-repeat="member in members | orderBy:'-roleRank'">
            {{ member.get.name | underspace }}
            <small class="text-secondary float-right">{{ member.get.role | uppercase }}</small>
          </a>
        </div>
        <!-- Loading -->
        <div class="card-body text-center py-5" ng-if="!members">
          <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
        </div>
      </div>
    </div>

    <!-- Right side -->
    <div class="col-md-6">

      <!-- Random Deck -->
      <div class="card">
        <div class="card-header bg-dark text-white s-pad-soft">
          Random Deck <i class="fas fa-fw float-right text-secondary fa-random"></i>
        </div>
        <div class="card-body">
          <card ng-repeat="card in deck.cards"
            ng-include="'components/card/card_include.html'"
            ng-click="card.view()">
          </card>
        </div>
        <!-- Loading -->
        <div class="card-body text-center py-5" ng-if="!deck.cards.length">
          <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
        </div>
        <div class="card-footer">
          <div class="row">
            <!-- New random deck -->
            <div class="col-lg-9 my-1">
              <button class="btn btn-lg btn-block btn-info"
                ng-disabled="generating" ng-click="generateDeck()">
                <i class="fas fa-fw fa-sync"></i> New Random Deck
              </button>
            </div>
            <!-- Edit deck -->
            <div class="col-lg-3 my-1">
              <button class="btn btn-lg btn-block btn-success" title="Edit this deck"
                ng-disabled="generating" ui-sref="app.deck-new({deck: deck})">
                <i class="fas fa-fw fa-edit"></i> <span class="d-lg-none">Edit Deck</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
