<div class="container-fluid cover cover-bg bg-arena">
  <div class="container">
    <h1><img src="/assets/img/clan.png" width="48"> Royale Clan <small class="o-fade">{{ tag }}</small></h1>
    <br>
    <ng-include src="'components/home/description.html'"></ng-include>
  </div>
</div>

<div class="container s-pad-y">
  <div class="row">
    <!-- Clan members -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header s-pad-soft">
          <i class="fas-fw fa-users"></i> Clan Members
        </div>
        <div class="card-body s-pad-no">
          <!-- Member -->
          <member class="{{ member.get.rarity }}"
            ui-sref="app.member({ name: member.get.name, member: member })"
            ng-repeat="member in members | orderBy:'-clan_chest_champion'">
            <name>{{ member.get.name | underspace }}</name>
          </member>
        </div>
      </div>
    </div>
    <!-- Random deck -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header s-pad-soft">
          <i class="fas-fw fa-random"></i> Random Deck
        </div>
        <div class="card-body">
          <ng-include card ng-repeat="card in deck.cards"
            src="'components/card/card_include.html'" ng-click="card.view()">
          </ng-include>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-block btn-warning" ng-disabled="generating" ng-click="generateDeck()">
                <i class="fas-fw fa-refresh"></i> <b>Next Random Deck</b>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
